<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA-2hG10aSzXS7A7-rp796apg4URVcgphE</string>
	<key>GCM_SENDER_ID</key>
	<string>490879169892</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.ts.aponteMe</string>
	<key>PROJECT_ID</key>
	<string>aponte-me-test</string>
	<key>STORAGE_BUCKET</key>
	<string>aponte-me-test.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:490879169892:ios:8b7c3e4aabb34a7cb9b671</string>
</dict>
</plist>